/* styles.css */

/* Estilo general para el navbar */
.navbar {
    background-color: #343a40; /* Color oscuro */
}

/* Estilo para los enlaces activos */
.nav-link.active {
    font-weight: bold; /* Hacer que el enlace activo sea más audaz */
    color: #ff4757; /* Color de enlace activo */
}

/* Estilo para el botón de logout */
.nav-item .btn {
    color: #fff; /* Color del texto del botón */
    background-color: #ff4757; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
}

.nav-item .btn:hover {
    background-color: #e84118; /* Color de fondo al pasar el ratón */
}
