h1 {
  color: #b10c0c; /* Cambia el color a tu preferencia */
}
body {
  background-color: #e4dfde; /* Cambia el color a tu preferencia */
}
/*  barra de navegación */
.navbar {
  border: 3px solid #fa0519; 
  border-radius: 8px; 
  padding: 10px; /* Espaciado interno */
}

/* Estilos para los enlaces de la barra de navegación */
.navbar-nav .nav-link {
  color: #fad101; /* Letras amarillas */
  transition: color 0.3s; /* Efecto de transición al pasar el mouse */
}

.navbar-nav .nav-link:hover {
  color: #b3f943; 

/* Estilo para el botón de logout */
.btn {
  background-color: transparent; /* Fondo transparente */
  color: #ebd211; /* Letras amarillas */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor a puntero */
}

.btn:hover {
  color: #ffcc00;
}
/* Estilo para el título de la aplicación */
.navbar-nav .text-primary {
  color: #df1c1c; /* Letras amarillas */
}